#board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 20px auto;
  border: 2px solid #333;
}

.cell {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  border: 1px solid #333;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.cell:hover {
  background-color: #eee;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
}

/* center h3 right under h1 */
h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* give the reset button some padding and shadow, rounded corners, thicker font */
#reset {
  padding: 10px 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: bold;
}
